@import 'variables.css';

.search-results {
    display: grid;
    gap: 0.5em;
    justify-content: center;
    grid-template-rows: auto;
    max-height: fit-content;
}

.result {
    padding: 0.75em 1em;
    display: grid;
    margin: 0.25em 1.5em;
    grid-template-columns: 1fr 2.5fr 0.5fr;
    grid-template-rows: auto;
    column-gap: 1.3em;
    min-height: 160px;
    max-width: 400px;
    background-color: var(--result-bg-color);
    border-radius: 0.5em;
    animation: fade-up 0.5s;
    transition: 0.3s;

    &:hover {
        background-color: var(--hover-shade);
        transform: scale(1.03);
        cursor: pointer;
    }
}

.result__img {
    max-width: 85px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-radius: 0.3em;
}

.result__details {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--primary-color);
    font-weight: 400;

    & .fa-star {
        color: var(--accent-color);
    }
}

.result__title {
    color: var(--text-color);
    font-size: clamp(1.25rem, 1.75vw, 1.5rem);
    font-weight: 800;
}

.result__type {
    text-transform: capitalize;
}

.result__like-btn {
    align-self: self-start;
    font-size: 1.5rem;

    .fa-heart-circle-plus {
        color: var(--text-color);
        transition: 0.3s ease-in-out;

        &:hover {
            color: var(--accent-color);
            transform: translateY(-3px);
        }
    }

    .result__icon--liked {
        color: var(--secondary-color);
    }
}

.result__runtime {
    margin-left: 1em;
    text-transform: lowercase;
}

/* Search bar */
.search {
    margin: 1em 1.5em;

    .search__form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        
        .search__input {
            background-color: var(--hover-shade);
            padding: 0 0.75em;
            font-family: 'Sofia Sans', sans-serif;
            font-weight: 200;
            color: var(--text-color);
            min-height: var(--search-bar-height);
            border-top-left-radius: calc(var(--search-bar-height) / 2);
            border-bottom-left-radius: calc(var(--search-bar-height) / 2);
            font-size: 1.5rem;
            border: none;
            width: 100%;
        }
    
        .search__input:focus {
            outline: 2px solid var(--accent-color);
            
            outline-offset: -2px;
        }

        .search__button {
            padding-right: 0.5em;
            border-top-right-radius: calc(var(--search-bar-height));
            border-bottom-right-radius: calc(var(--search-bar-height));            
            background-color: var(--hover-shade);

            & i {
                font-size: 1rem;
                padding: 0.5em;
                margin: auto;
                min-height: var(--search-bar-height);
                background-color: var(--accent-color);
                border-radius: calc(var(--search-bar-height));
            }
        }
    }

}

/* Utility classes */
.search__form--focused {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    margin: 0 -2px 0 -2px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}